@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

:root {
  --Bright-Orange: hsl(31, 77%, 52%);
  --Dark-Cyan: hsl(184, 100%, 22%);
  --Very-Dark-Cyan: hsl(179, 100%, 13%);
  --Transparent-White: hsla(0, 0%, 100%, 0.75);
  --Very-Light-Gray: hsl(0, 0%, 95%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--Very-Light-Gray);
  font-size: 15px;
}

p {
  color: var(--Transparent-White);
  font-family: "Lexend Deca", sans-serif;
  height: auto;
  max-width: 210px;
  margin: 10px 0 0 45px;
}

h1 {
  color: var(--Very-Light-Gray);
  font-family: "Big Shoulders Display", cursive;
  margin: 30px 0 0 45px;
}
img {
  margin: 40px 0 0 40px; /* top  right  bottom  left */
}

/*BOX SECTION*/
.container {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 920px;
}

.box {
  height: 450px;
  width: 305px;
  transform: translateY(50%);
}

.orange {
  background-color: var(--Bright-Orange);
  border-radius: 5px 0 0 5px;
  /*top left / top right / bottom right / bottom left*/
}

.blue {
  background-color: var(--Dark-Cyan);
}

.darkblue {
  background-color: var(--Very-Dark-Cyan);
  border-radius: 0 5px 5px 0;
}

/*BUTTON SECTION*/
button {
  background-color: var(--Very-Light-Gray);
  border: var(--Very-Light-Gray);
  border-radius: 20px;
  width: 125px;
  height: 40px;
  margin: 90px 0 0 45px;
}

.but-one {
  color: var(--Bright-Orange);
}

.but-one:hover {
  color: var(--Very-Light-Gray);
  background-color: var(--Bright-Orange);
  cursor: pointer;
  border: solid 1px hsl(0, 0%, 100%);
}

.but-two {
  color: var(--Dark-Cyan);
}

.but-two:hover {
  color: hsl(0, 0%, 95%);
  background-color: var(--Dark-Cyan);
  cursor: pointer;
  border: solid 1px hsl(0, 0%, 100%);
}

.but-three {
  color: var(--Very-Dark-Cyan);
}

.but-three:hover {
  color: hsl(0, 0%, 95%);
  background-color: var(--Very-Dark-Cyan);
  cursor: pointer;
  border: solid 1px hsl(0, 0%, 100%);
}
