@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

:root {
  --brightOrange: hsl(31, 77%, 52%);
  --darkCyan: hsl(184, 100%, 22%);
  --veryDarkCyan: hsl(179, 100%, 13%);
  --transparentWhite: hsla(0, 0%, 100%, 0.75);
  --veryLightGray: hsl(0, 0%, 95%);
   /*Button*/
  --butBor: solid 1px hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--veryLightGray);
  font-size: 1.5rem;
}

p {
  color: var(--transparentWhite);
  font-family: "Lexend Deca", sans-serif;
  height: auto;
  max-width: 210px;
  margin: 10px 0 0 45px;
}

h1 {
  color: var(--veryLightGray);
  font-family: "Big Shoulders Display", cursive;
  margin: 30px 0 0 45px;
}
img {
  margin: 40px 0 0 40px; /* top  right  bottom  left */
}

/*BOX SECTION*/
.container {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 920px;
}

.box {
  height: 450px;
  width: 305px;
  transform: translateY(50%);
}

.orange {
  background-color: var(--brightOrange);
  border-radius: 5px 0 0 5px;
  /*top left / top right / bottom right / bottom left*/
}

.blue {
 background-color: var(--darkCyan);
}

.darkblue {
  background-color: var(--veryDarkCyan);
  border-radius: 0 5px 5px 0;
}

/*BUTTON SECTION*/
button {
  background-color: var(--veryLightGray);
  border: var(--veryLightGray);
  border-radius: 20px;
  width: 125px;
  height: 40px;
  margin: 90px 0 0 45px;
}

.but-one {
  color: var(--brightOrange);
}

.but-one:hover {
  color: var(--veryLightGray);
  background-color: var(--brightOrange);
  cursor: pointer;
  border: var(--butBor);
}

.but-two {
  color: var(--darkCyan);
}

.but-two:hover {
  color: hsl(0, 0%, 95%);
  background-color: var(--darkCyan);
  cursor: pointer;
  border: var(--butBor);
}

.but-three {
  color: var(--veryDarkCyan);
}

.but-three:hover {
  color: hsl(0, 0%, 95%);
  background-color: var(--veryDarkCyan);
  cursor: pointer;
  border: var(--butBor);
}
