@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

:root {
  /* Colors */
  --brightOrange: hsl(31, 77%, 52%);
  --darkCyan: hsl(184, 100%, 22%);
  --veryDarkCyan: hsl(179, 100%, 13%);
  --transparentWhite: hsla(0, 0%, 100%, 0.75);
  --veryLightGray: hsl(0, 0%, 95%);

  /*Button*/
  --buttonSty: solid 0.1rem hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--veryLightGray);
  font-size: 1.5rem;
}

main {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  color: var(--veryLightGray);
  font-family: "Big Shoulders Display", cursive;
  font-size: 3.2rem;
  padding: 3rem 0 0 4.5rem;
}

p {
  color: var(--transparentWhite);
  font-family: "Lexend Deca", sans-serif;
  max-width: 25.5rem;
  padding: 2.5rem 0 7rem 4.5rem;
  line-height: 2.5rem;
}

img {
  padding: 4rem 0 0 4rem; /* top  right  bottom  left */
}

a {
  text-decoration: none;
  list-style: none;
}

/*BOX SECTION*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.box {
  height: 45rem;
  width: 30.5rem;
}

.orange {
  background-color: var(--brightOrange);
  border-radius: 10px 0 0 10px;
  /*top left / top right / bottom right / bottom left*/
}

.blue {
  background-color: var(--darkCyan);
}

.darkblue {
  background-color: var(--veryDarkCyan);
  border-radius: 0 1rem 1rem 0;
}

/*BUTTON SECTION*/
.button {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.4rem;
  background-color: var(--veryLightGray);
  padding: 1.2rem 2.5rem;
  margin-left: 4.5rem;
  border: var(--veryLightGray);
  border-radius: 20px;
}

.but-one {
  color: var(--brightOrange);
}

.but-one:hover {
  color: var(--veryLightGray);
  background-color: var(--brightOrange);
  border: var(--buttonSty);
  cursor: pointer;
}

.but-two {
  color: var(--darkCyan);
}

.but-two:hover {
  color: var(--veryLightGray);
  background-color: var(--darkCyan);
  border: var(--buttonSty);
  cursor: pointer;
}

.but-three {
  color: var(--veryDarkCyan);
}

.but-three:hover {
  color: var(--veryLightGray);
  background-color: var(--veryDarkCyan);
  border: var(--buttonSty);
  cursor: pointer;
}

@media screen and (max-width: 1050px) {
  main {
    height: auto;
  }

  h1 {
    padding: 2rem 0 0 4rem;
  }

  p {
    max-width: 270px;
    padding: 2rem 0 3rem 4rem;
  }

  img {
    padding: 3rem 0 0 4rem;
  }

  /*BOX SECTION*/

  .box {
    height: 37.5rem;
    width: 30rem;
  }

  .orange {
    border-radius: 7px 7px 0 0;
  }

  .darkblue {
    border-radius: 0 0 7px 7px;
  }

  .container {
    flex-direction: column;
  }

/*BUTTON SECTION*/

  .button {
    margin-left: 4rem;
    padding: 1rem 2.2rem;
  }
}
